li a {
    color: green;
}

header{
    margin: auto;
    text-align: center;
}

body {
    margin: auto;
    width: 50%;
}

footer{
    margin: auto;
    text-align: center;
}

.pingimg{
    width:128px;
    height:128px;
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#content{
    /*background: blue;*/
}