<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <title id="title">{% block title %}My amazing site{% endblock %}</title>
</head>

<header>
    {% block header%}
    <div id="banner">
        <h1>The Ping Pong Log Service</h1>
        <img id="headerimg" src="/static/images/pingpong.jpg" alt="Ping Pong Playa">
    </div>
    {% endblock%}
    {% block subheader %}{% endblock %}
</header>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
<footer>
    <img id="footergif" src="https://thumbs.gfycat.com/AnnualIllegalGypsymoth-size_restricted.gif" alt="crazy game gif">
</footer>
</html>