{% extends "main/base.html" %}

{% block subheader %}
<h3> These are the matches</h3>
{% endblock %}
{% block content %}
<form action="{% url 'api_matches'%}" method="POST">
    {% csrf_token %}
    <input type="json" name="player1" id="player1" placeholder="player1 id" />
    <input type="json" name="player1_score" id="player1_score" placeholder="player1 score" />
    <input type="json" name="player2" id="player2" placeholder="player2 id" />
    <input type="json" name="player2_score" id="player2_score" placeholder="player2 score" />
    <input type="json" name="field" id="field" placeholder="field id" />
    <input type="submit" value="Create Match" />
</form>
{% if results %}
        {% for result in results %}
        <div class="match-row-item">
            <h3 class="match-num">Match {{ result.id }} @ {{result.field.name}}</h3>
            <div class="table">
                    <div class="table-row">
                        <div class="main-table-cell" > <a href="/main/players/{{ result.winner.id }}/">{{ result.winner.name }}</a></div>
                        <div class="vs-table-cell" > vs </div>
                        <div class="main-table-cell"> <a href="/main/players/{{ result.loser.id }}/">{{ result.loser.name }}</a></div>
                    </div>
                    <div class="table-row">
                        <div class="main-table-cell"> {{ result.winner.score }} </div>
                        <div class="vs-table-cell"></div>
                        <div class="main-table-cell"> {{ result.loser.score }} </div>
                    </div>
            </div>
        </div>
        {% endfor %}
{% else %}
    <p>No Matches are available.</p>
{% endif %}
{% endblock %}
