{% extends "main/base.html" %}

{% block subheader %}
<h3> These are the matches</h3>
{% endblock %}
{% block content %}
<form action="{% url 'new_match_form'%}" method="POST">
    {% csrf_token %}
    <select name="player1">
        {% for id in player_ids %}
        <option>{{ id }}</option>
        {% endfor %}}
    </select>
    <select name="player2">
        {% for id in player_ids %}
        <option>{{ id }}</option>
        {% endfor %}}
    </select>
    <input type="number" max=11 min=0 name="player1_score" id="player1_score" placeholder="player1 score" />
    <input type="number" max=11 min=0 name="player2_score" id="player2_score" placeholder="player2 score" />
    <select name="field"/>
        {% for id in field_ids %}
        <option>{{ id }}</option>
        {% endfor %}}
    </select>
    <input type="submit" value="Create Match" />
</form>
{% if results %}
        {% for result in results %}
        <div class="match-row-item">
            <h3 class="match-num">Match {{ result.id }} @ {{result.field.name}}</h3>
            <div class="table">
                    <div class="table-row">
                        <div class="main-table-cell" > <a href="/main/players/{{ result.winner.id }}/">{{ result.winner.name }}</a></div>
                        <div class="vs-table-cell" > vs </div>
                        <div class="main-table-cell"> <a href="/main/players/{{ result.loser.id }}/">{{ result.loser.name }}</a></div>
                    </div>
                    <div class="table-row">
                        <div class="main-table-cell"> {{ result.winner.score }} </div>
                        <div class="vs-table-cell"></div>
                        <div class="main-table-cell"> {{ result.loser.score }} </div>
                    </div>
            </div>
        </div>
        {% endfor %}
{% else %}
    <p>No Matches are available.</p>
{% endif %}
{% endblock %}
